@import "../../node_modules/antd/lib/style/themes/default.less";
@primary-color: #1DA57A;
@layout-header-background: #000001;
@layout-sider-background: #cccccc;
@text-color: fade(@black, 65%);
@heading-color: fade(#000, 85%);
@text-color-secondary: #000000;
@processing-color: fade(@primary-color, 1%);
@success-color: #41c404;
@error-color: #d61414